<%= form_for(@orcamento) do |f| %>
  <% if @orcamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orcamento.errors.count, "error") %> prohibited this orcamento from being saved:</h2>

      <ul>
      <% @orcamento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :local %><br />
    <%= f.text_field :local %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao %>
  </div>
  <div class="field">
    <%= f.label :distancia %><br />
    <%= f.text_field :distancia %>
  </div>
  <div class="field">
    <%= f.label :cli_nome %><br />
    <%= f.text_field :cli_nome %>
  </div>
  <div class="field">
    <%= f.label :cli_morada %><br />
    <%= f.text_area :cli_morada %>
  </div>
  <div class="field">
    <%= f.label :cli_contacto %><br />
    <%= f.text_field :cli_contacto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
