<%= simple_form_for @orcamento, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>

    <%= f.input :local %>
    <%= f.input :descricao %>
    <%= f.input :distancia %>    
    <%= f.input :cli_nome %>
    <%= f.input :cli_morada %>
    <%= f.input :cli_contacto %>  
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  orcamentos_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
